<app-menubar></app-menubar>
<div class="col-md-12">
    <div class="white_box">
      <div class="col-md-12 nopadding">
        <div class="report_outer" id="reportouter">
          <div class="report_heading col-md-12 nopadding">
            <div class="pull-left">
                <h4>Customer list</h4>
            </div>
            <div class=" pull-left" style="margin-left: 20px;">
                <!-- <a [routerLink]="['/addcustomer']" class="btn btn-info btn_addnew">+ Add New Customer</a> &nbsp;&nbsp;              -->
                <a  data-toggle="modal" id="MyAddVisitPopup" class="btn btn-info btn_addnew" (click)="OpenVisit()">+ Add Visit</a>              
            </div>
           
        </div>
        <div class="clearfix"></div>
        <div class="table-responsive">
                <div class="col-md-12 nopadding">
                        <div class="opportunity_strip" style="margin: 0; height: auto;">
                          <h4 class="panel-title">
                            My Customers
                            <i class="fa fa-filter pull-right" style="color:white;"></i>
                            <i class="fa fa-search pull-right" style="color:white;"></i>
                            <div class="pull-right">
                                <input class="form-control" type="text" name="search" [(ngModel)]="filter" placeholder="Search here">
                            </div>
                          </h4>
                          <div class="clearfix"></div>
                        </div>
                        
                      </div>
          <table class="table table-bordered report_table">
            <thead>
                <tr>
                    <th (click)="sort('PK_Cust_Id')">SR.No.
                            <span class="glyphicon sort-icon" *ngIf="key =='PK_Cust_Id'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th (click)="sort('Cust_Name')">Customer Name
                         <span class="glyphicon sort-icon" *ngIf="key =='Cust_Name'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th (click)="sort('VisitType')">Visit Type
                            <span class="glyphicon sort-icon" *ngIf="key =='VisitType'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                       </th>
                    <th (click)="sort('Cust_Address_Line1')">Address
                            <span class="glyphicon sort-icon" *ngIf="key =='Cust_Address_Line1'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>

                    </th>
                    <th (click)="sort('Cust_Cmprsd_Air_App')">Comp Air App
                            <span class="glyphicon sort-icon" *ngIf="key =='Cust_Cmprsd_Air_App'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>

                    </th>
                    <th (click)="sort('Cust_End_Product')">End Product
                            <span class="glyphicon sort-icon" *ngIf="key =='Cust_End_Product'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>

                    </th>
                    <th (click)="sort('Cust_CntctPrson_Contact_No')">Contact
                            <span class="glyphicon sort-icon" *ngIf="key =='Cust_CntctPrson_Contact_No'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of customerlistdata | paginate:{ id: 'listing_pagination',
                itemsPerPage:8,
                currentPage:page,
                totalItems: totalRec }| orderBy: key : reverse  | filter:filter; let i = index  ">
                    <td>{{item.PK_Cust_Id}}</td>
                    <td>{{item.Cust_Name}}</td>
                    <td>{{item.VisitType}}</td>
                    <td>{{item.Cust_Address_Line1}}</td>
                    <td>{{item.Cust_Cmprsd_Air_App}}</td>
                    <td>{{item.Cust_End_Product | uppercase}}</td>
                    <td>{{item.Cust_CntctPrson_Contact_No }}</td>
                    <td>
                        <a *ngIf="item.TrackInTime===true" title="Update Customer Details" class="btn btn-info btnedit" (click)="editPropertyDetails(item)"><span class="glyphicon glyphicon-pencil"></span></a>&nbsp;&nbsp;
                        <a *ngIf="item.TrackInTime==false" title="Start Visit" (click)="inVisit(item)" class="btn btn-info btnedit">In</a>&nbsp;&nbsp;
                        <a *ngIf="item.TrackInTime===true" title="Stop Visit" (click)="outVisit(item)" class="btn btn-info btnedit" >Out</a>&nbsp;&nbsp;
                        <button *ngIf="item.Cust_CntctPrson_Contact_No!=null && item.TrackInTime===true" title="Create New Opportunity"  class="btn btn-info btnedit" (click)="AddopportunityDetails(item)">  <span class=" glyphicon glyphicon-plus-sign"></span></button>&nbsp;
    
                        <!-- <a class="btn btn-info btnedit" (click)="editPropertyDetails(item)"><span class="glyphicon glyphicon-pencil"></span></a>&nbsp;&nbsp;
                        <a *ngIf="item.InFlag===false && IntimeFlag===true" (click)="inVisit(item)" class="btn btn-info btnedit" >In</a>&nbsp;&nbsp;
                        <a *ngIf="item.InFlag===true && IntimeFlag===false" (click)="outVisit(item)" class="btn btn-info btnedit" >Out</a>&nbsp;&nbsp;
                     <button *ngIf="item.Cust_CntctPrson_Contact_No!=null && item.InFlag===true"   class="btn btn-info btnedit" (click)="AddopportunityDetails(item)">  <span class=" glyphicon glyphicon-plus-sign"></span></button>&nbsp; -->

                    </td>
                </tr>
            </tbody>
            <tfoot>
                    <tr>
                        <td colspan="12">
                            <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true"
                            (pageChange)="page = $event"></pagination-controls>
                        </td>
                    </tr>
                    </tfoot>
        </table>
        </div>
        <div class="clearfix"></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>    
    <div id="AddVisitPopup" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Start Visit</h4>
              </div>
              <div class="modal-body">
                  <div class="col-md-4 form-group">
                      <label class="mandatory" for=""> Customer Name:</label>
                  </div>
                  <div class="col-md-8 form-group">
                      <input type="text" class="form-control" id="" placeholder="" title="Please Enter Customer name" id="Cust_NameVisit" >
                  </div>
                  <div class="col-md-4 form-group">
                    <label class="mandatory" for=""> Visit Type:</label>
                </div>
                <div class="col-md-8 form-group">
                    <select class="form-control" id="Cust_VisitType">
                        <option value="" selected disabled> Select </option>
                        <option value="Customer Visit"> Customer Visit</option>
                        <option value="Itrak Measurement"> Itrak Measurement</option>
                        <option value="O-box  measurement"> O-box  measurement</option>
                        <option value="AC Support"> AC Support</option>
                        <option value="Payment Followup"> Payment Followup</option>
                        <option value="Customer Complaint"> Customer Complaint</option>
                        <option value="Other"> Other</option>
                    </select>
                </div>
                  <div class="col-md-8 form-group"> 
                       <label id="Msg">{{Msg}}</label></div>
                  <div class="clearfix"></div>
                 
              </div>
              <div class="modal-footer">
                  <div class="pull-right">
                      <input type="button" class="btn btn-primary" value="Start Visit" (click)="onSubmitVisit()" />&nbsp;
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  </div>
                  <div class="clearfix"></div>
              </div>
          </div>
        </div>
    </div>
    <div id="RecordNotes" class="modal fade">
            <form  [formGroup]="recordNotesForm" (ngSubmit)="onSubmit()"> 
                <div class="modal-dialog feedbackModal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Remarks Notes</h4>
                            </div>
                            <div class="modal-body">
                                <div class="questionsBlock WonQuestions">
                                    <div>
                                    <label>Remarks</label>
                                    </div>
                                    <textarea rows="6" formControlName="remark"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button [disabled]="loading"  class="btn btn-primary">Submit</button> &nbsp;
                                <!-- <button type="button" class="btn btn-default" id="btnCancel" data-dismiss="modal">Cancel</button> -->
                                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                            </div>
                        </div>
                </div>
        </form>
          
    </div>
  </div>
  