<app-menubar></app-menubar>

<div class="col-md-12">
        <div class="white_box">
          <div class="col-md-12 nopadding">
            <div class="report_outer" id="reportouter">
              <div class="report_heading col-md-8 nopadding">
                <div class="pull-left">
                    <h4>Range Mapping</h4>
                </div>
                <div class=" pull-left" style="margin-left: 20px;">
                    <a  class="btn btn-info btn_addnew" (click)="navigateToRangeMapping()">+ Add Mapping</a>              
                </div>
                <div class="clearfix"></div>
              </div>
            <div class="clearfix"></div>
            
            <div class="table-responsive">
              <table class="table table-bordered report_table">
                <thead>
                    <tr>
                        <th>RangeMapping ID</th>
                        <th>MapType</th>
                        <th>ProductID</th>
                        <th>Product Name</th>
                        <th>Range Code</th>
                        <th>Sub Range ID</th>
                        <th>Sub Range Name</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of rangeMappingDetails | paginate:{ id: 'listing_pagination',
                                itemsPerPage:5,
                                currentPage:page,
                                totalItems: totalRec }">
                        <td>{{item.PK_RangeMapping_Id}}</td>
                        <td>{{item.FK_MapType_Id}}</td>
                        <td>{{item.FK_Prod_Id}}</td>
                        <td>{{item.ProductName}}</td>
                        <td>{{item.FK_Range_Id}}</td>
                        <td>{{item.FK_Sub_Range_Id}}</td>
                        
                        <td>{{item.SubRangeName}}</td>
                        
                    </tr>
                </tbody> 
                <tfoot>
                        <tr>
                            <td colspan="12">
                                <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true"
                                (pageChange)="page = $event"></pagination-controls>
                            </td>
                        </tr>
                </tfoot>
              </table>
            </div>
            <div class="clearfix"></div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>   
</div>
  
  