html,body{
    height: 100%;
}


.allcenter_outer{
	position: absolute;
	/*top: 50%;*/
	top: 5%;
	text-align: center;
	width: 100%;
	/*margin: -150px auto 0;*/
}
    .allcenter_outer h1 {
        font-family: 'UniversLTStd';
        font-weight: 600;
        color: #333;
    }
.allcenter_outer p{
	font-size: 18px;
	color: #333;
}
.white_box{
	background-color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2);
}
/*css for login page*/
.login_box{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9be4ff+0,0088bb+100 */
background-color: #0088bb;
	color: #fff; 
	padding: 30px 30px;
}

.btn_login {
    color: #fff;
    background-color: #01425a;
    border-color: #01425a;
}
.btn_login:hover,
.btn_login:focus,
.btn_login:active:focus {
    color: #fff;
    background-color: #055673;
    border-color: #055673;
}
.fpasslink{
	color: #fff;
	padding-top: 7px;
}
/*upto here*/
