<app-menubar></app-menubar>
  <div class="col-md-12">
    <div class="white_box">
      <div class="col-md-12 nopadding">
        <div class="report_outer" id="reportouter">
          <div class="report_heading col-md-12 nopadding">
            <div class="pull-left">
              <h4>Opportunities</h4>
            </div>
            <div class=" pull-left" style="margin-left: 20px;">
              <a [routerLink]="['/customerlist']" class="btn btn-info btn_addnew">+ Add New Opportunities</a>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
          <div class="table-responsive">
            <div class="col-md-12 nopadding">
              <div class="opportunity_strip" style="margin: 0; height: auto;">
                <h4 class="panel-title">
                  My Open Opportunities
                  <i class="fa fa-filter pull-right" style="color:white;"></i>
                  <i class="fa fa-search pull-right" style="color:white;"></i>
                  <div class="pull-right">
                      <input class="form-control" type="text" name="search" [(ngModel)]="filter" placeholder="Search here">
                  </div>
                </h4>
                <div class="clearfix"></div>
              </div>
            </div>
            <table class="table table-bordered report_table">
              <thead>
                <tr>
                  <th (click)="sort('Cust_Name')">Account
                      <span class="glyphicon sort-icon" *ngIf="key =='Cust_Name'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                  </th>
                  <th (click)="sort('Opportunity_Name')">Name
                      <span class="glyphicon sort-icon" *ngIf="key =='Opportunity_Name'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                  </th>
                  <th (click)="sort('Closed_Date')">Expected Order Date
                      <span class="glyphicon sort-icon" *ngIf="key =='Closed_Date'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                  </th>
                  <th (click)="sort('Sales_Phase')">Sales Phase
                      <span class="glyphicon sort-icon" *ngIf="key =='Sales_Phase'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                  </th>
                  <th (click)="sort('Resource_Name')">Owner
                      <span class="glyphicon sort-icon" *ngIf="key =='Resource_Name'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                  </th>
                  <th (click)="sort('Added_Date')">Created On
                      <span class="glyphicon sort-icon" *ngIf="key =='Added_Date'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                  </th>
                  <th (click)="sort('Expected_Value')">Expected Value
                      <span class="glyphicon sort-icon" *ngIf="key =='Expected_Value'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                  </th>
                  <th >Status
                    <span class="glyphicon sort-icon" *ngIf="key =='Expected_Value'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of opportunitieslistdata | paginate:{ id: 'listing_pagination',
                itemsPerPage:8,
                currentPage:page,
                totalItems: totalRec } | orderBy: key : reverse  | filter:filter; let i = index">
                  <td>{{data.Cust_Name}}</td>
                  <td>{{data.Opportunity_Name}}</td>
                  <td>{{data.Closed_Date}}</td>
                  <td>{{data.Sales_Phase}}</td>
                  <td>{{data.Resource_Name }}</td>
                  <td>{{data.Added_Date }}</td>
                  <td>{{data.Expected_Value }}</td>
                  <td style.background-color="{{('Reported to'===data.Status) ? 'orange': (('Won'===data.Status) ? 'FUCHSIA' :  (('Stopped'===data.Status) ? 'Cyan' :'red'))}}">{{data.Status}}</td>
                  <td>
                     <!-- *ngIf="data.TrackInTime ==='00:00' || data.TrackOutTime !=='00:00'" -->
                    <a *ngIf="data.TrackInTime===false"  (click)="inVisit(data)" class="btn btn-info btnedit">In</a>&nbsp;&nbsp;
                    <!-- *ngIf="data.TrackOutTime ==='00:00' && data.TrackInTime !=='00:00'" -->
                    <a title="Stop Visit" *ngIf="data.TrackInTime===true" (click)="outVisit(data)" class="btn btn-info btnedit">Out</a>&nbsp;&nbsp;
                    <!-- *ngIf="data.TrackOutTime ==='00:00' && data.TrackInTime !=='00:00'"  data.FK_Status !=='W' &&  -->
                    <button title="Action On Opportunity" *ngIf="data.FK_Status !=='W' && data.FK_Status !=='L' && data.FK_Status !=='S' && data.TrackInTime===true" class="btn btn-info btnedit" (click)="Get_Opportunity_Details(data)" ><span class=" glyphicon glyphicon-plus-sign"></span></button>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="12">
                    <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true"
                    (pageChange)="page = $event"></pagination-controls>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="clearfix"></div>
  <form [formGroup]="addCompetitorForm" >
  <div id="OpenOpporModal" class="modal fade">
    <div class="white_box opportunity_modal">
      <ul class="nav nav-tabs" style="position: relative;">
        <li class="active">
          <a href="#Overview"  data-toggle="tab" id="Overviewid" (click)="hidepreButton()">Overview</a>
        </li>
        <li>
          <a href="#CNTPER" data-toggle="tab" (click)="shownextButton()">Contact Person Details</a>
        </li>
        <li>
          <a href="#Competitor" data-toggle="tab" (click)="shownextButton()">Competitor</a>
        </li>
        <li>
          <a href="#ProductTab" data-toggle="tab" id='Product1' (click)="shownextButton()">Product</a>
        </li>
        <li>
          <a href="#Quotation" data-toggle="tab" id="Quotation1" (click)="hideNextButton()">Quotation</a>
        </li>
        <li class="pull-right">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="padding-right: 10px;">&times;</button>
        </li>
      </ul>
      <div class="clearfix"></div>
      <div class="tab-content">
        <div class="tab-pane fade in active" id="Overview">
          <div id="">
            <div class="col-md-2 form-group">
              <label class="mandatory" for="">Customer Name</label>
            </div>
            <div class="col-md-2 form-group">
              <input type="text" [value]="Cust_Name" class="form-control" disabled="disabled">
              <!-- <input type="hidden" [value]="PK_Cust_Id" class="form-control" disabled="disabled"> -->
            </div>
            <div class="col-md-2 form-group">
              <label for="">Customer Conatct No.</label>
            </div>
            <div class="col-md-2 form-group">
              <input type="text" [value]="Customer_Contact_No" class="form-control" disabled="disabled">
            </div>
            <div class="col-md-2 form-group">
              <label class="mandatory" for="">Opportunity Source</label>
            </div>
            <div class="col-md-2 form-group">
              <input type="text" [value]="Enquiry_Source_Name" class="form-control" disabled="disabled">
            </div>
            <div class="col-md-2 form-group">
              <label class="mandatory" for="">Related to</label>
            </div>
            <div class="col-md-2 form-group">
              <input type="text" [value]="Enquiry_Type_Name" class="form-control" disabled="disabled" />
            </div>
            <div class="col-md-2 form-group">
              <label class="mandatory" for="">Opportunity Name</label>
            </div>
            <div class="col-md-2 form-group">
              <input type="text" [value]="Opportunity_Name" class="form-control" disabled="disabled">
            </div>
            <div class="col-md-2 form-group">
              <label class="mandatory" for="">Expected Value</label>
            </div>
            <div class="col-md-2 form-group">
              <input type="text" [value]="Expected_Value" class="form-control" disabled="disabled">
            </div>
            <div class="col-md-2 form-group">
              <label class="mandatory" for="">Chance of Success</label>
            </div>
            <div class="col-md-2 form-group">
              <input type="text" [value]="Chance_Of_Success" class="form-control" disabled="disabled">
            </div>
            <div class="col-md-2 form-group">
              <label class="mandatory" for="">Sales Phase</label>
            </div>
            <div class="col-md-2 form-group">
              <input type="text" [value]="Sales_Phase" class="form-control" disabled="disabled">
            </div>
            <div class="col-md-2 form-group">
              <label class="mandatory" for="">Expected Order Date</label>
            </div>
            <div class="col-md-2 form-group">
              <input type="text" [value]="Closed_Date" class="form-control" disabled="disabled">
            </div>
            <div class="col-md-4">
              <span *ngIf="Forecast==true">
                <input type="checkbox" class="" checked id="Forecast" placeholder="" disabled="disabled">
              </span>
              <span *ngIf="Forecast==false">
                <input type="checkbox" class="" id="Forecast" placeholder="" disabled="disabled">
              </span>
              <label for="Forecast">Forecast</label>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="tab-pane fade" id="CNTPER">
          <div class="col-md-12">
            <div class="table-responsive">
              <table id="monthly_table" class="table table-bordered report_table">
                <thead>
                  <tr>
                    <th>Sr. No.</th>
                    <th>Name</th>
                    <th>Contact No.</th>
                    <th>Company Email</th>
                    <th>Designation</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let contactDetail of ContactPersonlist;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{contactDetail.Cust_CntctPrson_Name}}</td>
                    <td>{{contactDetail.Cust_CntctPrson_Contact_No}} </td>
                    <td>{{contactDetail.Cust_CntctPrson_Email_Id}}</td>
                    <td>{{contactDetail.List_Desc}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="tab-pane fade" id="Competitor">
          <div>
            <div id="">
                <!-- <div class="col-md-2 form-group">
                    <label class="mandatory" for="">Competitor Type</label>
                  </div>
                  <div class="col-md-2 form-group">
                    <select formControlName="CompetitorTypeId" class="form-control" (change)="Get_Competitor_List($event)"
                            title="Please Select Competitor type">
                      <option value="" disabled>Select</option>
                      <option *ngFor="let CompetitorType of CompetitorTypelist" value={{CompetitorType.List_Code}}>
                        {{CompetitorType.List_Desc}}
                      </option>
                    </select>
                  </div> -->
              <div class="col-md-2 form-group">
                <label class="mandatory" for="">Competitor</label>
              </div>
              <div class="col-md-2 form-group ">
                <select formControlName="CompetitorId" class="form-control opt"
                        title="Please Select Competitor">
                  <option value="" disabled>Select</option>
                  <option *ngFor="let Comp of Complist" value={{Comp.PK_Competitor_Id}}>
                    {{Comp.Competitor_Name}}
                  </option>
                </select>
              </div>
              <div class="col-md-2 form-group">
                <label class="mandatory" for="">Products</label>
              </div>
              <div class="col-md-2 form-group ">
                <textarea class="form-control rema_chara" id="Comp_Product" formControlName="CompProduct" placeholder="Please Enter Products" title="Please Enter Products " maxlength="250"></textarea>
              </div>
              <div class="clearfix"></div>
              <div class="col-md-2 form-group">
                <label for="">Price</label>
              </div>
              <div class=" col-md-2">
                <input type="text" formControlName="CompPrice" class="form-control" placeholder="Enter Price " title="Enter Price " maxlength="10"
                       onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.keyCode == 8'>
              </div>
              <div class="col-md-4">
                  <input class="chek" id="Is_Main" formControlName="IsMain" type="checkbox" style="vertical-align: middle; margin: 0;">
                  <label class="Forecast" for="Is_Main">Is Main</label>
                </div>
              <div class="col-md-2">
                <button class="btn btn_login" [disabled]="loading" (click)="AddCompetitor()">Add</button>&nbsp;
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
              </div>
              <div class="col-md-12">
                <table id="monthly_table" class="table table-bordered report_table">
                  <thead>
                    <tr>
                      <th>Sr. No.</th>
                      <!-- <th>Competitor Type</th> -->
                      <th>Competitor</th>
                      <th>Is Main</th>
                      <th>Product</th>
                      <th>Price</th>
                      <th class="text-center">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of Clist;let i = index">
                      <td>{{i+1}}</td>
                      <!-- <td>{{item.List_Competitor_type}}</td> -->
                      <td>{{item.Competitor_Name}}</td>
                      <td>{{item.Is_Main}}</td>
                      <td>{{item.Comp_Product}}</td>
                      <td>{{item.Comp_Price}}</td>
                      <td><button (click)="Delete_Competitor(item)" class="fa fa-trash" title="Delete"></button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="clearfix"></div>
        </div>
        <div class="tab-pane fade" id="Quotation">
          <div>
            <div id="">
              <div class="col-md-2 form-group">
                <label class="mandatory" for="">Attachment</label>
              </div>
              <div class="col-md-4 form-group">
                <input type="file" id="upload" title="Select jpg,png,doc file" name="File" (change)="onSelectAttachment($event)" class="form-control" style="float:left" />
                <input type="submit" name="" value="Upload" class="btn btn-primary btn_upload pull-right" [disabled]="loading" (click)="Add_Quotation()">
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                <div class="clearfix"></div>
                <div id="list" style="display:none"></div>
              </div>
              <div class="col-md-12">
                <table id="monthly_table" class="table table-bordered report_table">
                  <thead>
                    <tr>
                      <th>Sr. No.</th>
                      <th>File</th>
                      <th class="text-center">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of Quotationlistdata;let i=index">
                      <td>{{i+1}}</td>
                      <td><a href="{{item.Url}} " target="_blank">{{item.File_Name}}</a></td>
                      <td class="text-center"><i (click)="Delete_Quotation(item)" class="fa fa-trash" title="Delete" style="cursor: pointer;"></i> </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="tab-pane fade" id="ProductTab">
          <div>
            <div id="">
              <div class="col-md-2 form-group">
                <label class="mandatory">Range</label>
              </div>
              <div class="col-md-2 form-group">
                <select formControlName="Range" id="Range" class="form-control" (change)="Get_Sub_Range_List($event)"
                        title="Please Select Range">
                  <option value="" disabled>Select</option>
                  <option *ngFor="let item of Rangelist" value={{item.List_Code}}>
                    {{item.List_Desc}}
                  </option>
                </select>
              </div>
              <div class="col-md-2 form-group">
                <label class="mandatory">Sub Range</label>
              </div>
              <div class="col-md-2 form-group">
                <select formControlName="SubRange" id="SubRange" class="form-control" (change)="Get_Product_List($event)"
                        title="Please Select Range">
                  <option value="" disabled>Select</option>
                  <option *ngFor="let item of SubRangelist" value={{item.PK_SubRange_Id}}>
                    {{item.SubRange_Name}}
                  </option>
                </select>
              </div>
              <div class="clearfix"></div>
              
              <div class="panel-group entry_accordion" id="accordion">
                <label id="subrange1"><i class="fa fa-plus-square-o"></i> {{SubRange}}: ( {{Range}} )</label>
                <div class="tbl_productlistBlockOuter">
                <table class="tbl_productlistBlock">
                  <tr *ngFor="let tRow1 of ProductDetailslist">
                    <td>
                      <input class="text-center chk" formControlName="chk_prod" type="checkbox" id="{{tRow1.Product_Id}}" style="text-align:center!important;" />
                      <label> {{tRow1.Product_Name}}:</label>
                    </td>
                    <td>Quantity: <input type="text" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.keyCode == 8' maxlength="10" formControlName="QT" class="form-control" id="{{tRow1.Product_Id +'QR'}}" value="{{tRow1.Quantity}}" /></td>
                    <td> Price:<input type="text" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.keyCode == 8' maxlength="10" formControlName="PT" class="form-control" id="{{tRow1.Product_Id +'PR'}}" value="{{tRow1.Price}}" /></td>
                  </tr>
                </table>
              </div>
                <div class="col-md-12" style="padding-left:248px;margin-top:10px">
                    <button class="btn btn_login" [disabled]="loading" (click)="Add_opporProduct()">Add</button>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                  </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="col-md-12">
            <table id="monthly_table" class="table table-bordered report_table">
              <thead>
                <tr>
                  <th>Sr. No.</th>
                  <th>Range</th>
                  <th>Sub Range</th>
                  <th>Segment</th>
                  <th>Product</th>
                  <th>Quantity</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of productlist;let i=index">
                  <td>{{i+1}}</td>
                  <td>{{item.RangeDesc}}</td>
                  <td>{{item.SubRange_Name}}</td>
                  <td>{{item.segment}}</td>
                  <td>{{item.Product_Name}}</td>
                  <td>{{item.Quantity}}</td>
                  <td>{{item.Price}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="clearfix"></div>
        </div>
        
        <div class="clearfix"></div>
      </div>
      <div class="ActionArea">
        <div class="Footer">
            <div class="divleft">
                <button id="btnMoveLeftTab" class="btn btn-primary" type="button" text="Previous">Previous</button>
            </div>
            <div class="divright">
                  <div class="dropdown pull-left">
                      <button data-toggle="dropdown" id="btnstatus" class="btn btn-primary"  type="button">
                        Status
                      </button>&nbsp;&nbsp;
                      <ul class="dropdown-menu opp_dropdown">
                          <li><a data-toggle="modal" data-backdrop="static" href="#VisitModel" (click)="Get_OpportunityVisitDetails()">Next Visit</a></li>
                          <li><a data-toggle="modal" data-backdrop="static" href="#WonModal" (click)="Get_Oppor_Prod()">Won</a></li>
                          <li><a data-toggle="modal" data-backdrop="static" href="#LostModal" (click)="Get_Oppor_Prod()">Lost</a></li>
                          <li><a data-toggle="modal" data-backdrop="static" href="#StopModal"  (click)="Get_Reason_List()">Stopped</a></li>
                      </ul>
                    </div>
                    <button id="btnMoveRightTab" class="btn btn-primary pull-left" type="button"  text="Next">Next </button>
            </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div id="VisitModel" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Visit</h4>
            </div>
            <div class="modal-body">
              <div class="col-md-7 nopadding">
                <div class="col-md-2 form-group">
                    <label class="mandatory" for="">Visit Type</label>
                  </div>
                  <div class="col-md-4 form-group">
                    <select formControlName="VisitType" class="form-control"
                            title="Please Select Visit type">
                      <option value="" disabled>Select</option>
                      <option *ngFor="let Vtype of visitTypelist" value={{Vtype.List_Code}}>
                        {{Vtype.List_Desc}}
                      </option>
                    </select>
                  </div>
                  <div class="col-md-2 form-group">
                    <label class="mandatory" for="">Start Date</label>
                  </div>
                  <div class="col-md-4 form-group ">
                    <input type="text" class="form-control " id="Visit_Start_Date" formControlName="Visit_Start_Date" placeholder="dd-mmm-yyyy" title="Please Enter Start Date" onkeypress="return false; event.charCode >= 48 && event.charCode <= 57" onkeydown="return false" autocomplete="off">
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-md-2 form-group">
                    <label class="mandatory" for="">Start Time</label>
                  </div>
                  <div class=" col-md-4  clockpicker " data-placement="top" data-align="top" data-autoclose="true" style="position: relative;">
                    <input type="text" id="Visit_Start_Time" formControlName="Visit_Start_Time" class="form-control" placeholder="Enter Start Time" title="Enter Start Time">
                    <span class="input-group-addon clock-icon clockpickicon"> <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i> </span>
                  </div>
                  
                  <div class="col-md-2 form-group">
                    <label class="mandatory" for="">End Date</label>
                  </div>
                  <div class="col-md-4 form-group ">
                    <input type="text" class="form-control " id="Visit_End_Date" formControlName="Visit_End_Date" placeholder="dd-mmm-yyyy" title="Please Enter End Date" onkeypress="return false; event.charCode >= 48 && event.charCode <= 57" onkeydown="return false" autocomplete="off">
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-md-2 form-group">
                    <label class="mandatory" for="">End Time</label>
                  </div>
                  <div class=" col-md-4   clockpicker " data-placement="top" data-align="top" data-autoclose="true" style="position: relative;">
                    <input type="text" id="Visit_End_Time" formControlName="Visit_End_Time" class="form-control" placeholder="Enter End Time" title="Enter End Time">
                    <span class="input-group-addon clock-icon clockpickicon"> <i class="fa fa-clock-o clock-icon" aria-hidden="true"></i> </span>
                  </div>
                  <div class="col-md-2 form-group">
                    <label>AC representative buddy</label>
                  </div>
                  <div class="col-md-4 form-group">
                    <select formControlName="ASM_Name" class="form-control">
                    <option value="" disabled>Select</option>
                    <option *ngFor="let ASM of ASMVisitlist" value={{ASM.AreaManagerId}}>
                      {{ASM.ASMName}}</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <button [disabled]="loading" class="btn btn_login" (click)="AddVisits()">Add</button>&nbsp;
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                  </div>
                </div>
                <div class="clearfix"></div>
                  <div class="col-md-12">
                      <table id="monthly_table" class="table table-bordered report_table">
                        <thead>
                          <tr>
                            <th>Sr. No.</th>
                            <th>Visit Type</th>
                            <th>Start Date</th>
                            <th>Start Time</th>
                            <th>End Date</th>
                            <th>End Time</th>
                            <th class="text-center">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of visitlist;let i=index">
                            <td>{{i+1}}</td>
                            <td style="display: none">{{item.PK_Visit}}</td>
                            <td>{{item.List_Visit_type}}</td>
                            <td>{{item.List_Visit_Start_Date}}</td>
                            <td>{{item.List_Visit_Start_Time}}</td>
                            <td>{{item.List_Visit_End_Date}}</td>
                            <td>{{item.List_Visit_End_Time}}</td>
                            <td class="text-center"><button class="fa fa-trash" title="Delete" style="cursor: pointer" (click)="DeleteVisits(item)"></button> </td>
                          </tr>
                        </tbody>
                      </table>
                 </div>
                 <div class="clearfix"></div>
            </div>
          </div>
      </div>
  </div>
  <div id="WonModal" class="modal fade">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Won Details</h4>
        </div>
        <div class="modal-body">
          <div class="col-md-4 form-group">
            <label class="mandatory" for="">Won Value</label>
          </div>
          <div class="col-md-8 form-group">
            <input type="text" class="form-control" id="Enter Won Value" placeholder="Enter Won Value" title="Please Enter Won Value"  
            formControlName="Won_Value" ngModel
            onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.keyCode == 8" maxlength="10"
                   oninvalid="InvalidMsg(this,'Please enter Won Value','Please enter Won Value');">
          </div>
          <div class="col-md-4 form-group">
            <label for="">Product Name</label>
          </div>
          <div class="col-md-8 form-group">
            <textarea input type="text" class="form-control" id="PNAction" disabled="disabled" placeholder="" title="Please Enter Product name" [value]="PNAction"></textarea>
          </div>
          <div class="col-md-4 form-group">
            <label for="">Customer Name</label>
          </div>
          <div class="col-md-8 form-group">
            <input type="text" class="form-control" id="" placeholder="" title="Please Enter Customer name" [value]="CName"
                   disabled="disabled">
          </div>
          <div class="clearfix"></div>
          <div class="col-md-4 form-group">
              <label class="mandatory" for="">Order Value</label>
         </div>
         <div class="col-md-8 form-group">
            <input type="text" class="form-control" formControlName="ordervalue" placeholder="Enter Order Value" title="Please Enter Order Value ">
          </div>
          <div class="clearfix"></div>
          <div class="col-md-4 form-group">
            <label for="">Remarks</label>
          </div>
          <div class="col-md-8 form-group">
            <textarea class="form-control" title="Please Enter Remarks" placeholder="Enter Remarks" formControlName="Won_Remarks" rows="3"
                      oninvalid="InvalidMsg(this,'Please enter Remarks','Please enter Remarks');">
                    </textarea>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
          <div class="col-md-4 form-group">
            <label class="mandatory" for="">Reason for Won</label>
          </div>
          <div class="col-md-8 form-group">
            <select formControlName="ReasonWon" class="form-control">
              <option value="" disabled>Select</option>
              <option value="Brand Preference">Brand Preference</option>
              <option value="Sales Engineer">Sales Engineer</option>
              <option value="Service Support">Service Support</option>
              <option value="Product">Product</option>
              <option value="Product">Relationship</option>
              <option value="Product">Delivery Timeline</option>
            </select>
          </div>
          <div class="clearfix"></div>
          <div class="col-md-4 form-group">
            <label for="">What we have done for better for this order</label>
          </div>
          <div class="col-md-8 form-group">
            <textarea formControlName="betterorderwon" class="form-control" style="height: auto !important;"></textarea>
          </div>
          <div class="clearfix"></div>
          <div class="col-md-4 form-group">
            <label for="">PO copy</label>
          </div>
          <div class="col-md-8 form-group">
              <input type="file" id="uploadPO" title="Select pdf file" name="File" (change)="onSelectAttachmentWon($event)" class="form-control" style="float:left" />
              <input type="submit" name="" value="Upload" class="btn btn-primary btn_upload pull-right" [disabled]="loading" (click)="Add_attachmentWon()">
              <div class="clearfix"></div>
              <div id="list" style="display:none"></div>
            </div><div class="clearfix"></div>
          <div class="modal-footer">
            <div class="pull-right">
              <button type="button" class="btn btn-primary" (click)="BtnNextWon()">Next</button>&nbsp;
              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="Clear_Won()">Cancel</button>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
  </div>
  </div>
  <div id="LostModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Lost Details</h4>
        </div>
        <div class="modal-body">
          <div class="col-md-4 form-group">
            <label class="mandatory" for="">Lost Value:</label>
          </div>
          <div class="col-md-8 form-group">
            <input type="text" class="form-control" id="" placeholder="Enter Lost Value" title="Please Enter Lost Value" formControlName="Lost_Value"
            onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.keyCode == 8" maxlength="10"
                   oninvalid="InvalidMsg(this,'Please enter Lost Value','Please enter Lost Value');">
          </div>
          <div class="col-md-4 form-group">
            <label for="">Product Name:</label>
          </div>
          <div class="col-md-8 form-group">
            <input type="text" class="form-control" disabled id="LostPN" [value]="PNAction" title="Please Enter Product name"
                   oninvalid="InvalidMsg(this,'Please enter Product name','Please enter Product name');">
          </div>
          <div class="col-md-4 form-group">
            <label for="">Customer Name:</label>
          </div>
          <div class="col-md-8 form-group">
            <input type="text" class="form-control" id="" placeholder="" title="Customer name"
                   [value]="CName" disabled>
          </div>
          <div class="clearfix"></div>
          <!-- <div class="col-md-4 form-group">
            <label class="mandatory">Competitor Name:</label>
          </div>
          <div class="col-md-8 form-group">
            <select formControlName="Competitor_Name" id="CompetitorName" class="form-control"
                    title="Please Select Competitor Name">
              <option value="" disabled>Select</option>
              <option *ngFor="let item of Clist" value={{item.PK_Competitor_Id}}>
                {{item.Competitor_Name}}
              </option>
            </select>
            <div class="clearfix"></div>
          </div> -->
          <!-- <div class="clearfix"></div> -->
          <div class="col-md-4 form-group">
            <label class="mandatory">Remark:</label>
          </div>
          <div class="col-md-8 form-group">
            <textarea class="form-control" placeholder="Enter Lost Remark" rows="3" formControlName="Lost_Remarks"></textarea>
          </div>
          <div class="clearfix"></div>
          <div class="col-md-4 form-group">
            <label class="mandatory" for="">Reason for Lost</label>
          </div>
          <div class="col-md-8 form-group">
            <select formControlName="ReasonLost" class="form-control">
                <option value="" disabled>Select</option>
              <option value="Sales support">Sales support</option>
              <option value="Service support">Service</option>
              <option value="Price">Price</option>
              <option value="Terms & Conditions">Terms & Conditions</option>
              <option value="Relationship">Relationship</option>
              <option value="Delivery Timeline">Delivery Timeline</option>
              <option value="Brand preference">Brand preference</option>
            </select>
          </div>
          <div class="clearfix"></div>
          <div class="col-md-4 form-group">
            <label for="">What could have been done better</label>
          </div>
          <div class="col-md-8 form-group">
            <textarea formControlName="BetterLost" class="form-control" style="height: auto !important;"></textarea>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="modal-footer">
          <div class="pull-right">
            <button type="button" class="btn btn-primary" (click)="btnNextLost()">Next</button>&nbsp;
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="Clear_Lost()">Cancel</button>
          </div>
          <span *ngIf="ResultMsg">Record save successfully</span>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="StopModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Stopped Details</h4>
        </div>
        <div class="modal-body">
          <div class="col-md-4 form-group">
            <label class="mandatory" for="">Reason:</label>
          </div>
          <div class="col-md-8 form-group">
            <select formControlName="Reason" id="Reason" class="form-control"
                    title="Please Select Reason">
              <option value="" disabled>Select</option>
              <option *ngFor="let item of Reasonlist" value={{item.List_Code}}>
                {{item.List_Desc}}
              </option>
            </select>
          </div>
          <div class="col-md-4 form-group">
            <label class="mandatory" for="">Competitor Name:</label>
          </div>
          <div class="col-md-8 form-group">
            <select formControlName="Competitor_Name" id="CompetitorName" class="form-control"
                    title="Please Select Competitor Name">
              <option value="" disabled>Select</option>
              <option *ngFor="let item of Clist" value={{item.PK_Competitor_Id}}>
                {{item.Competitor_Name}}
              </option>
            </select>
          </div>
          <div class="clearfix"></div>
          <div class="col-md-4 form-group">
            <label class="mandatory" for="">Remarks:</label>
          </div>
          <div class="col-md-8 form-group">
            <textarea class="form-control" rows="2" placeholder="Enter Remark" title="Please Enter Remark" formControlName="Stop_Remarks"
                      oninvalid="InvalidMsg(this,'Please enter Remark','Please enter Remark');">
                   </textarea>
          </div>
          <div class="clearfix"></div>
          <div class="col-md-4 form-group">
            <label for="">Machine Model No.</label>
          </div>
          <div class="col-md-8 form-group">
            <input type="text" formControlName="ModelNo" class="form-control">
          </div>
          <div class="clearfix"></div>
          <div class="col-md-4 form-group">
            <label for="">Machine Serial No.</label>
          </div>
          <div class="col-md-8 form-group">
            <input type="text" formControlName="SerialNo" class="form-control">
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="modal-footer">
          <div class="pull-right">
            <button type="button" class="btn btn-primary" (click)="Add_Stop()">Submit</button>&nbsp;
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="Clear_Stopped()">Cancel</button>
          </div>
          <span *ngIf="ResultMsg">Record save successfully</span>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>

<!-- npsWon -->
<div  data-backdrop="static" id="npsWon" class="modal fade">
    <div class="modal-dialog feedbackModal">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">NPS Survey (Won)</h4>
            </div>
            <div class="modal-body">
                <div class="questionsBlock WonQuestions">
                    <p><span>Q: </span>Would you prefer Atlas Copco products for next purchase ?</p>
                    <div>
                        <label><input type="radio" name="q1ans" value="yes" checked >Yes</label>
                        <label><input type="radio" name="q1ans" value="no">No</label>
                    </div>
                    <div class="yes qans" style="display: block;">
                        <p>Why would you prefer Atlas Copco products ?</p>
                    </div>
                    <div class="no qans">
                        <p>Why you would not prefer Atlas Copco products ?</p>
                    </div>
                    <textarea rows="6" formControlName="questionTest1"></textarea>
                    <!-- <span>1000 characters remaining</span> -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" [disabled]="loading"  class="btn btn-primary" (click)="Add_Won()">Submit</button> &nbsp;
                <button type="button" class="btn btn-default" id="btnCancel" data-dismiss="modal">Cancel</button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>
        </div>
    </div>
</div>
<!-- npsLost -->
<div data-backdrop="static" id="npsLost" class="modal fade">
    <div class="modal-dialog feedbackModal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">NPS Survey (Lost)</h4>
            </div>
            <div class="modal-body">
                <div class="questionsBlock">
                    <p><span>Q1: </span>Would you prefer Atlas Copco products for next purchase ?</p>
                    <div>
                        <label><input type="radio" class="rad" name="q2ans" value="yes">Yes</label>
                        <label><input type="radio" class="rad" name="q2ans" value="no">No</label>
                    </div>
                </div>
                <div class="questionsBlock">
                    <p><span>Q2: </span>What would have been done better for this order ?</p>
                    <div class="lostans">
                        <textarea formControlName="LostFeedback" rows="3"></textarea>
                        <span>1000 characters remaining</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" [disabled]="loading" (click)="Add_Lost()">Submit</button> &nbsp;
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                <button type="button" id="btnlostCancel" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

  </form>
