<div class="pagebg">


<form [formGroup]="forgotpasswordForm">
    <div class="container-fluid nopadding landing_page">
        <header class="text-center" style="padding: 15px 0;"></header>
        <div class="allcenter_outer">
            <div class="text-center" style="padding-bottom: 20px;">
                <a class="" href="#">
                    <img src="images/atlas_logo_large.png" alt="">
                </a>
            </div>
            <div class="col-md-4 col-md-offset-4">
                <div class="white_box login_box text-left">
                    <h3 class="text-center" style="margin-top: 0;">Forgot Password</h3>
                    <div class="form-group">
                        <label for="email">Email Id:</label>
                    </div>
                    <div class="form-group">
                        <input type="email" id="email"  formControlName="EmailID" 
                               class="form-control" placeholder="Enter emailid" title="Please enter emailid"
                               oninvalid="InvalidMsg(this,'Please enter emailid','Please enter emailid');"
                               maxlength="30">
                    </div>
                    <div *ngIf="submitted && f.EmailID.errors" class="invalid-feedback">
                      <div *ngIf="f.EmailID.errors.required"> This field is required</div>
                    </div>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                   
                    <input type="button" [disabled]="loading" (click)="ForgotPassword()" value="Submit" class="btn btn-success btn_login" />&nbsp;
                    <input type="button" (click)="CancelPass()" value="Cancel" class="btn btn-success btn_login" />
                    <div><label id="alertMsg">{{ResultMsg}}</label></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <footer>
            <p>&copy; Atlas Copco Ltd. All rights reserved.</p>
        </footer>
  
    </div>
  </form>
</div>