<app-menubar></app-menubar>
<div class="col-md-12">
    <div class="white_box">
      <div class="col-md-12 nopadding">
        <div class="report_outer" id="reportouter">
          <div class="report_heading col-md-8 nopadding">
            <div class="pull-left">
                <h4>Competitor list</h4>
            </div>
            <div class=" pull-left" style="margin-left: 20px;">
                <a  class="btn btn-info btn_addnew" (click)="navigateToAddCompetitor()">+ Add New Competitor</a>              
            </div>
            <div class="clearfix"></div>
          </div>
        <div class="clearfix"></div>
        <div class="table-responsive">
            <div class="col-md-12 nopadding">
                <div class="opportunity_strip" style="margin: 0; height: auto;">
                  <h4 class="panel-title">
                    My Enquiry Source
                    <i class="fa fa-filter pull-right" style="color:white;"></i>
                    <i class="fa fa-search pull-right" style="color:white;"></i>
                    <div class="pull-right">
                        <input class="form-control" type="text" name="search" [(ngModel)]="filter" placeholder="Search here">
                    </div>
                  </h4>
                  <div class="clearfix"></div>
                </div>
              </div>
                <table class="table table-bordered report_table">
                  <thead>
                    <tr>
                      <th (click)="sort('Competitor_Name')">Competitor Name <span class="glyphicon sort-icon" *ngIf="key =='Competitor_Name'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                      <th (click)="sort('Competitor_Desc')">Description <span class="glyphicon sort-icon" *ngIf="key =='Competitor_Desc'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                      <th (click)="sort('IsActive')">Status <span class="glyphicon sort-icon" *ngIf="key =='IsActive'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                      <th class="text-center">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of Competitorlist | paginate:{ id: 'listing_pagination',itemsPerPage:8,
                          currentPage:page,
                          totalItems: totalRec}| orderBy: key : reverse  | filter:filter; let i = index">
                      <td>{{data.Competitor_Name}}</td>
                      <td>{{data.Competitor_Desc}}</td>
                      <td><span *ngIf="data.IsActive==0">InActive</span><span *ngIf="data.IsActive==1">Active</span></td>
                      <td><a class="editMasters" (click)="editCompetitor(data)" style="cursor:pointer;" title="Edit Competitor"><i class="fa fa-pencil"></i></a></td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="12">
                        <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true"
                                             (pageChange)="page = $event"></pagination-controls>
                      </td>
                    </tr>
                  </tfoot>
                </table>
        </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>    
</div>