<app-menubar></app-menubar>
<div class="db_body col-md-12" style="margin-bottom: 50px;"> 
    <div class="panel-group" id="accordion" >
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title pull-left" >
                           {{this.ZM}}{{this.ASMTM}}{{this.Dealer}}{{this.SalesEngineer}}  
                        </h4>
                        <h4 class="panel-title pull-right">
                            <a data-toggle="collapse" data-parent="#accordion" (click)="showpopup()">
                                Search here: 
                                <i class="fa fa-search"></i>
                            </a>
                        </h4>
                        <div class="clearfix"></div>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse ">
                        <div class="panel-body">
                                <form [formGroup]="SerachForm" (ngSubmit)="onSubmit()">
                                        <div class="tab-content">
                                                <div class="tab-pane fade in active" id="tabone"> 
                                                <div *ngIf="BLMShowHidetbl">
                                                        <div class="col-md-2 form-group">
                                                                <label class="mandatory">BLM</label>
                                                            </div>
                                                            <div class="col-md-2 form-group ">
                                                             <select  formControlName="BLMName" class="form-control"
                                                              title="Please select BLM">
                                                            <option value="" disabled>Select</option>
                                                            <option *ngFor="let data of BLMlist" value={{data.FK_Designation_Id}}>
                                                             {{data.Resource_Name}}
                                                            </option>
                                                            </select>
                                                            <div *ngIf="submitted && f.BLMName.errors" class="invalid-feedback">
                                                            <div *ngIf="f.BLMName.errors.required">is required</div>
                                                            </div>
                                                            </div>
                                                </div>  
                                                <div *ngIf="ZMShowHidetbl">
                                                        <div class="col-md-2 form-group">
                                                                <label class="mandatory">ZM</label>
                                                            </div>
                                                            <div class="col-md-2 form-group">
                                                                    <select  formControlName="ZMName" class="form-control" (change)="onChangeSelectZM($event)"
                                                                    title="Please select ZM">
                                                                <option value="" disabled>Select</option>
                                                                <option *ngFor="let data of ZMlist" value={{data.FK_Zone_Id}}>
                                                                {{data.Resource_Name}}
                                                                </option>
                                                                </select>
                                                                <div *ngIf="submitted && f.ZMName.errors" class="invalid-feedback">
                                                                <div *ngIf="f.ZMName.errors.required">is required</div>
                                                                </div>
                                                            </div>
                                                </div>
                                                <div *ngIf="ASMTMShowHidetbl">
                                                        <div class="col-md-2 form-group">
                                                                <label class="mandatory">ASM/TM</label>
                                                            </div>
                                                            <div class="col-md-2 form-group">
                                                                    <select  formControlName="ASMName" class="form-control" (change)="onChangeSelectASM($event)"
                                                                    title="Please select ASM">
                                                                  <option value="" disabled>Select</option>
                                                                  <option *ngFor="let data of ASMlist" value={{data.FK_State_Id}}>
                                                                   {{data.Resource_Name}}
                                                                  </option>
                                                                  </select>
                                                                  <div *ngIf="submitted && f.ASMName.errors" class="invalid-feedback">
                                                                  <div *ngIf="f.ASMName.errors.required">is required</div>
                                                                  </div>
                                                            </div>
                                                </div>
                                                <div *ngIf="DealerShowHidetbl">
                                                        <div class="col-md-2 form-group">
                                                                <label class="mandatory">Dealer</label>
                                                            </div>
                                                            <div class="col-md-2 form-group">
                                                                <select  formControlName="DealerName" class="form-control" (change)="onChangeSelectDealer($event)"
                                                                    title="Please select dealer">
                                                                <option value="" disabled>Select</option>
                                                                <option *ngFor="let data of Dealerlist" value={{data.PK_Resource_Id}}>
                                                                {{data.Resource_Name}}
                                                                </option>
                                                                </select>
                                                                <div *ngIf="submitted && f.DealerName.errors" class="invalid-feedback">
                                                                <div *ngIf="f.DealerName.errors.required">is required</div>
                                                                </div>
                                                            </div>
                                                </div>
                                                <div *ngIf="SalesEShowHidetbl">
                                                    <div class="col-md-2 form-group">
                                                            <label class="mandatory">Sales Engineer</label>
                                                        </div>
                                                        <div class="col-md-2 form-group">
                                                            <select  formControlName="SalesEngineer" class="form-control" (change)="onChangeSelectsales($event)"
                                                            title="Please select sales engineer">
                                                              <option value="" disabled>Select</option>
                                                              <option *ngFor="let data of SalesEngineerlist" value={{data.PK_Resource_Id}}>
                                                               {{data.Resource_Name}}
                                                              </option>
                                                            </select>
                                                              <div *ngIf="submitted && f.SalesEngineer.errors" class="invalid-feedback">
                                                              <div *ngIf="f.SalesEngineer.errors.required">is required</div>
                                                              </div>
                                                        </div>
                                                </div>
                                                <div class="col-md-2 form-group">
                                                    <label for="">Start Date</label>
                                                  </div>
                                                  <div class="col-md-2 form-group ">
                                                    <input type="text" class="form-control " id="StartDate" placeholder="dd-mmm-yyyy"  onkeypress="return false; event.charCode >= 48 && event.charCode <= 57" onkeydown="return false" autocomplete="off">
                                                  </div>
                                                  <div class="col-md-2 form-group">
                                                    <label for="">End Date</label>
                                                  </div>
                                                  <div class="col-md-2 form-group ">
                                                    <input type="text" class="form-control " id="EndDate" placeholder="dd-mmm-yyyy"  onkeypress="return false; event.charCode >= 48 && event.charCode <= 57" onkeydown="return false" autocomplete="off">
                                                  </div>

                                                <div class="col-md-2">
                                                    <button id="Searchbtn" class="btn btn-primary">Search</button>&nbsp;
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>  
                                </form>
                                <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                
    </div><br>
    <div class="col-md-4" style="padding: 0 7px;">
        <div class="white_box" style="padding: 15px 10px;">
            <h3 style="margin: 0;">{{ title }}</h3>
            <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker *ngFor="let m of getLatLongList" [latitude]="m.lat" [longitude]="m.lng"  [label]="m.Cust_Name"></agm-marker>
            </agm-map>
       </div>
    </div>
    <div class="col-md-4" style="padding: 0 7px;">
        <div class="white_box" style="padding: 15px 10px;">
            <fusioncharts
            [chartConfig]=this.graphObj.visitchartConfig
            [dataSource]=this.graphObj.visitdataSource>
            </fusioncharts>
        </div>
    </div>
    <div class="col-md-4" style="padding: 0 7px;">
        <div class="white_box" style="padding: 15px 10px;">
            <fusioncharts
            [chartConfig]=this.graphObj.opportunitychartConfig
            [dataSource]=this.graphObj.opportunitydataSource>
           </fusioncharts>
        </div>
    </div>
    <div class="clearfix"></div><br>
    <div class="col-md-4" style="padding: 0 7px;">
        <div class="white_box" style="padding: 15px 10px;">
            <fusioncharts
            [chartConfig]= this.graphObj.salesPhasechartConfig
            [dataSource]= this.graphObj.salesPhasedataSource>
        </fusioncharts>
        </div>
    </div>
    <!-- static graph -->
    
    <div class="col-md-4" style="padding: 0 7px;">
        <div class="white_box" style="padding: 15px 10px;">
                <fusioncharts
                width="100%" 
                height="250"
                [type]="type2"
                [dataFormat]="dataFormat2"
                [dataSource]="dataSource2">
            </fusioncharts>
        </div>
    </div>
    <div class="col-md-4" style="padding: 0 7px;">
        <div class="white_box" style="padding: 15px 10px;">
                <fusioncharts
                width="100%" 
                height="250"
                [type]="type3"
                [dataFormat]="dataFormat3"
                [dataSource]="dataSource3">
            </fusioncharts>
        </div>
    </div>
    <div class="clearfix"></div><br>
    <div class="col-md-4" style="padding: 0 7px;">
        <div class="white_box" style="padding: 15px 10px;">
                <fusioncharts
                width="100%" 
                height="250"
                [type]="type4"
                [dataFormat]="dataFormat4"
                [dataSource]="dataSource4">
            </fusioncharts>
        </div>
    </div>
   
    <div class="col-md-4" style="padding: 0 7px;">
        <div class="white_box" style="padding: 15px 10px;">
                <fusioncharts
                width="100%" 
                height="250"
                [type]="type5"
                [dataFormat]="dataFormat5"
                [dataSource]="dataSource5">
            </fusioncharts>
        </div>
    </div>
    <div class="col-md-4" style="padding: 0 7px;">
        <div class="white_box" style="padding: 15px 10px;">
                <fusioncharts
                width="100%" 
                height="250"
                [type]="type6"
                [dataFormat]="dataFormat6"
                [dataSource]="dataSource6">
            </fusioncharts>
        </div>
    </div>
    <div class="clearfix"></div><br>
    <div class="col-md-4" style="padding: 0 7px;">
        <div class=" white_box" style="padding: 15px 10px;">
            <div class="table-responsive">
                <h4>Won/Loss Summary</h4>
                <table class="table table-bordered report_table">
                    <thead>
                        <tr>
                            <th title="Month">Month</th>
                            <th title="No. of Deals Won">No. of Deals Won</th>
                            <th title="Won Revenue">Won Revenue</th>
                            <th title="No. of Deals Lost">No. of Deals Lost</th>
                            <th title="Lost Revenue">Lost Revenue</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Jan</td>
                            <td>3634</td>
                            <td>25,000</td>
                            <td>364</td>
                            <td>25,000</td>
                        </tr>
                        <tr>
                            <td>Feb</td>
                            <td>3634</td>
                            <td>25,000</td>
                            <td>364</td>
                            <td>25,000</td>
                        </tr>
                        <tr>
                            <td>Mar</td>
                            <td>3634</td>
                            <td>25,000</td>
                            <td>364</td>
                            <td>25,000</td>
                        </tr>
                        <tr>
                            <td>Apr</td>
                            <td>3634</td>
                            <td>25,000</td>
                            <td>364</td>
                            <td>25,000</td>
                        </tr>
                        <tr>
                            <td>May</td>
                            <td>3634</td>
                            <td>25,000</td>
                            <td>364</td>
                            <td>25,000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <div class="col-md-4" style="padding: 0 7px;">
        <div class=" white_box" style="padding: 15px 10px;">
                <fusioncharts
                width="100%" 
                height="250"
                [type]="type7"
                [dataFormat]="dataFormat7"
                [dataSource]="dataSource7">
            </fusioncharts>
        </div>
    </div>
    <div class="col-md-4" style="padding: 0 7px;">
        <div class="white_box" style="padding: 15px 10px;">
                <fusioncharts
                width="100%" 
                height="250"
                [type]="type8"
                [dataFormat]="dataFormat8"
                [dataSource]="dataSource8">
            </fusioncharts>
        </div>
    </div>
    <div class="clearfix"></div><br>
    
</div>
