/* You can add global styles to this file, and also import other style files */
@import url('assets/css/bootstrap.css');
/* @import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'); */
@import url("assets/css/font-awesome.css");
@import url("assets/css/AdminLTE.css");
@import url('assets/css/skins/_all-skins.min.css');
/* @import url("assets/css/jquery-ui.css"); */
@import url("assets/css/hover.css");
@import url("assets/css/util.css");


@import '~angular-tree-component/dist/angular-tree-component.css';
@import '../node_modules/angular-calendar/css/angular-calendar.css';

@import url("assets/css/waves.css");
@import url("assets/css/layout.css");
@import url("assets/css/bootstrap-datepicker.css");
@import url('assets/Multiselect/jquery.multiselect.css');
@import url('assets/css/application.css');
@import url('assets/css/custom.css');
@import url('assets/css/bootstrap-clockpicker.min.css');



@font-face {
    font-family: 'UniversLTStd';
    src: url('fonts/univers/UniversLTStd.eot');
    src: url('fonts/univers/UniversLTStd.eot') format('embedded-opentype'),
         url('fonts/univers/UniversLTStd.woff2') format('woff2'),
         url('fonts/univers/UniversLTStd.woff') format('woff'),
         url('fonts/univers/UniversLTStd.ttf') format('truetype'),
         url('fonts/univers/UniversLTStd.svg#UniversLTStd') format('svg');
}
html,
body{
    height: 100%;
    font-family: 'UniversLTStd';
    background-color: #f0f0f0;
}
.pagebg{
    background-image: url(assets/css/images/bg.jpg );
    background-repeat: no-repeat;
    height: 100vh;
    position: absolute;
    width: calc(100% + 40px);
    margin-top: -60px;
    margin-left: -40px;
}
/* .atlas_logo_large{
    background-image: url(images/atlas_logo_large.png);
    width: 192px;
    height: 89px;
    display: inline-block;
}
.atlas_logo{
    background-image: url(images/atlas_logo.png);
    width: 125px;
    height: 60px;
    display: inline-block;
} */
/* css for calendar page */
.cal-month-view .cal-day-cell {
    min-height:80px !important; 
}
.cal-month-view .cal-day-badge {
    background-color: darkgreen;
}
.cal-month-view .cal-open-day-events {
    background-color: #08b;
    box-shadow: unset;
    -moz-box-shadow: unset;
    -webkit-box-shadow: unset;
}
.cal-month-view .cal-cell-row:hover {
    background-color: transparent;
}
.cal-month-view .cal-cell-row .cal-cell{
    font-size: 14px;
}
.cal-month-view .cal-cell-row .cal-cell:hover,
.cal-month-view .cal-cell.cal-has-events.cal-open {
    background-color: #dff2f9;
}
.cal-month-view .cal-header .cal-cell:hover{
    background-color: #0088bb;
}
.cal-month-view .cal-day-cell.cal-today {
    background-color: transparent;
}
.cal-month-view .cal-day-number {
    font-size: 1.2em;
    font-weight: 400;
    opacity: 1;
    margin-top: 15px;
    margin-right: 15px;
    float: right;
    margin-bottom: 10px;
    padding: 4px 6px;
}
.cal-month-view .cal-day-number{
    font-size: 1.5em;
}
.cal-month-view .cal-day-cell.cal-today .cal-day-number {
    font-size: 1.5em;
    color: #fff;
    background-color: #08b;
    border-radius: 50%;
}
.cal-month-view .cal-header .cal-cell {
    border: 1px solid #e1e1e1;
    background-color: #08b;
    color: #fff;
    font-weight: 500;
}
.cal-month-view .cal-cell-top{
    margin-right: 0;
}
.cal-day-view .cal-time{
    margin-left: 0;
}

.cal-month-view .cal-days .cal-cell-row {
    border-bottom: 1px solid #9c9c9c;
}
.cal-month-view .cal-days {
    border: 1px solid #9c9c9c;
}
.cal-month-view .cal-day-cell:not(:last-child) {
    border-right: 1px solid #9c9c9c;
}
/* upto here */