<app-menubar></app-menubar>
<div class="col-md-12" style="margin-top: 10px;">
  <div class="white_box">
    <div>
      <h3 class="sectiontitle">Sales Activity(Sales Engineer) Follow-up Date</h3>
      <div class="col-md-12 nopadding">
          <div class="hometabs redbox">
              <div class="tabsname">
                  <h4>My Upcoming Opportunities</h4>
              </div>
              <div class="tabsvalue  text-right">
                  <span>0</span>
              </div>
              <div class="tabsdesc">
                  <p>Next 7 days(follow-up date)</p>
              </div>
          </div>
          <div class="hometabs skybluebox">
              <div class="tabsname">
                  <h4>My Overdue Opportunities</h4>
              </div>
              <div class="tabsvalue text-right">
                  <span>0</span>
              </div>
              <div class="tabsdesc">
                  <p>No report data available to display, check the selection</p>
              </div>
          </div>
          <div class="hometabs yellowbox">
              <div class="tabsname">
                  <h4>Upcoming Visits</h4>
              </div>
              <div class="tabsvalue  text-right">
                  <span>0</span>
              </div>
              <div class="tabsdesc">
                  <p>Next 7 days(follow-up date)</p>
              </div>
          </div>
          <div class="hometabs bluebox">
              <div class="tabsname">
                  <h4>Overdue Visits</h4>
              </div>
              <div class="tabsvalue  text-right">
                  <span>0</span>
              </div>
              <div class="tabsdesc">
                  <p>Next 7 days(follow-up date)</p>
              </div>
          </div>
          <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div style="margin-top: 15px;">
      <h3 class="sectiontitle">Sales Activity(Sales Engineer) Close Date</h3>
      <div class="col-md-12 nopadding">
          <div class="hometabs bluebox">
              <div class="tabsname">
                  <h4>My Open Leads</h4>
              </div>
              <div class="tabsvalue  text-right">
                  <span>0</span>
              </div>
              <div class="tabsdesc">
                  <p>My Open Leads</p>
              </div>
          </div>
          <div class="hometabs greenbox">
              <div class="tabsname">
                  <h4>My Open Opportunities</h4>
              </div>
              <div class="tabsvalue text-right">
                  <span>0</span>
              </div>
              <div class="tabsdesc">
                  <p>Next 90 days</p>
              </div>
          </div>
          <div class="hometabs yellowbox">
              <div class="tabsname">
                  <h4>Upcoming Visits</h4>
              </div>
              <div class="tabsvalue  text-right">
                  <span>0</span>
              </div>
              <div class="tabsdesc">
                  <p>Next 7 days(follow-up date)</p>
              </div>
          </div>
          <div class="hometabs skybluebox">
              <div class="tabsname">
                  <h4>My Overdue Opportunities</h4>
              </div>
              <div class="tabsvalue  text-right">
                  <span>0</span>
              </div>
              <div class="tabsdesc">
                  <p>No report data available to display, check the selection</p>
              </div>
          </div>
          <div class="hometabs redbox">
              <div class="tabsname">
                  <h4>My Upcoming Opportunities</h4>
              </div>
              <div class="tabsvalue  text-right">
                  <span>0</span>
              </div>
              <div class="tabsdesc">
                  <p>No report data available to display, check the selection</p>
              </div>
          </div>
          <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
    <br>
  </div>
</div>